@import '~antd/dist/antd.css';

$color-button-danger: #f5222d;
$color-button-danger-hover: #f55e66;
$color-button-success: #52e20a;
$color-button-success-hover: #7fe34d;
$color-button-warning: #faad14;
$color-button-warning-hover: #f8bb42;
$color-button-purple: #8e24aa;
$color-button-purple-hover: #8e24aa;

@mixin generateButtonCustom($color, $colorHover) {
  color: white !important;
  background-color: $color !important;
  border-color: $color !important;

  &:hover {
    background-color: $colorHover !important;
    border-color: $colorHover !important;
  }
}




.ant-btn-custom-success {
  @include generateButtonCustom($color-button-success, $color-button-success-hover);
}

.ant-btn-custom-danger {
  @include generateButtonCustom($color-button-danger, $color-button-danger-hover);
}

.ant-btn-custom-warning {
  @include generateButtonCustom($color-button-warning, $color-button-warning-hover);
}

.ant-btn-custom-purple {
  @include generateButtonCustom($color-button-purple, $color-button-purple-hover);
}




.app-wrapper-outer {
  min-height: 100vh !important;
}

.form-login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -190px 0 0 -190px;
  width: 370px;
  height: 380px;
  padding: 36px;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);

}


.app-header-bar {
  height: 50px !important;
  line-height: 50px !important;

  & .right-wrapper {
    height: 50px;
    float: right;
    padding-right: 16px;

    &>li.ant-menu-submenu-horizontal {
      height: 100%;
    }

    &>li.ant-menu-submenu-horizontal:hover {
      color: #1890ff;
      background-color: rgba(24, 144, 255, .15);
    }

    & .header-user-info {
      display: inline-block;
      height: 100%;
    }
  }

  & .left-wrapper {
    float: left;
    margin-left: 20px;

    & i {
      font-size: 16px;
      line-height: 50px;
      cursor: pointer;
      -webkit-transition: all .3s, padding 0s;
      transition: all .3s, padding 0s;
      padding: 0 24px;
    }
  }
}